<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
    <select id="selectAll" resultType="pojo.Car">
        select id,car_num as carNum,brand from t_car;
    </select>
    <select id="selectId" resultType="pojo.Car">
        select * from t_car where id = #{id};
    </select>
    <delete id="deleteId">
        delete from t_car where id=#{sdf};
    </delete>
    <update id="updateId">
        update t_car set car_num=#{carNum},brand=#{brand} where id=#{id};
    </update>
    <insert id="insertCarw">
        <!--insert into t_car(id,car_num,brand)
        values(null,#{k1},#{k2});-->
        insert into t_car(id,car_num,brand)
        values(#{id},#{carNum},#{brand})
    </insert>
</mapper>